
*{
    margin: 0;
    padding: 0;
}
header {
    background-color: black;
    color: aqua;
    display: flex;
    justify-content: space-around;
    font-size: 24px;
}
.cabeçalho-lista-item{
    display: inline-block;
    margin: 0 28px;
}
.saoPaulo{
    color: brown;
    font-size: 20px;
}
